article
{
    margin: 0% 5%;
    background-color: #eee;
    color: #333;
    margin-bottom: 32px;
    padding: 2%;
    border-radius: 20px;
    font-weight: 600;
}

article > h3
{
    padding: 5px 0px 10px 10px;
  /*      up right down left */
    margin: 0px;
    font-family: Joli2;
    font-size: 35px;
}

.date
{
    text-indent: 13px;
    margin-top: -12px;
    font-style: italic;
}

article > img
{
    margin : 0% 5% 3% 5%;
    width: 90%;
}

article > p
{
    text-indent: 50px;
    text-align:justify;
}

.commentaires
{
    font-family: Round4;
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 2%;
    /*display: none;*/
}
/*
.article_affich:active > .commentaires
{
    display: block;
}
*/

.article_affich
{
    font-size: 18px;
    font-weight: bold;
    padding-left: 5%;
}

.element > input
{
    width: 200px;
}

textarea
{
    width: 98%;
    height: 100px;
}

.element > h4
{
    font-family: Round4B;
}

.element > .bouton_Admin, article > .bouton_Admin
{
    position: relative;
    float: right;
    margin-right: 10px;
}

.element > .bouton_Admin
{
    margin-top: -5px;
}

input[type=file]
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input[type=file] + label
{
    cursor : pointer;
    background: #00a2ea;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 24px;
    padding: 4px 0px;
    position: relative;
    text-align: center;
    width: 180px;
    box-shadow: 0 6px rgb(1, 133, 184);
    border-radius: 6px;
    text-decoration: none;
    font-family: Style;
}

input[type=file]:focus + label, input[type=file] + label:hover
{
    background: rgb(31, 163, 214);
    text-decoration: none;
    color: #fff;
}

input[type=file] + label:active
{
    box-shadow: 0 2px rgb(1, 133, 184);
    top: 4px;
    text-decoration: none;
    color: #fff;
}

label
{
    display: inline-block;
}

.contenu
{
    height : 500px;
}