/*
Bleu très très clair : #eef2f8;
Bleu très clair : #dde5f1;
Bleu clair: #7290c6;
Bleu moyen: #4C72b6;
Bleu foncé: #2b416a;
Bleu très foncé: #131d2f;
*/

body
{
    background-color: #4C72B6;
    font-family: Style, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #eee;
    margin-right: 20%;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

input[type=text]
{
    height: 34px;
    padding: 5px 10px;
    font-size: 14px;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: content-box;
}

textarea
{
    height: 100px;
    padding: 5px 10px;
    font-size: 14px;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: content-box;
}

.bonjour
{
    font-size: 20px;
}

aside
{
    margin-top: 57px;
    position: fixed;
    width: 20%;
    height: 100%;
    margin-right: 0px;
    margin-left: 80%;
    background-color: #131d2f;
    color: #fff;
    z-index: 42;
    padding: 10px;
    font-family: Style;
    font-size: 18px;
    box-shadow: -8px 1px 0px rgba(0, 0, 0, 0.5);
}

aside > input[type="text"]
{
    width: 85%;
    height: 34px;
}

aside > .bouton
{
    font-size: 16px;
    font-weight: 700;
    width: 30%;
}

aside > a
{
    padding-right: 10px;
    padding-bottom: 10px;
    display: block;
    color: #ddd;
    text-decoration: none;
    font-style: italic;
    font-size: 14px;
}

aside > a:hover
{
    color: #fff;
    font-style: normal;
}

@font-face
{
    font-family: Futur1;
    src: url('./Fonts/Aspace.otf') format('opentype');
}

@font-face
{
    font-family: Joli1;
    src: url('./Fonts/Chardons.ttf') format('truetype');
}

@font-face
{
    font-family: Dalek;
    src: url('./Fonts/Dalek.ttf') format('truetype');
}
@font-face
{
    font-family: Doctor;
    src: url('./Fonts/Doctor.ttf') format('truetype');
}

@font-face
{
    font-family: Style;
    src: url('./Fonts/Dreams.ttf') format('truetype');
}

@font-face
{
    font-family: Bande;
    src: url('./Fonts/Letter.ttf') format('truetype');
}

@font-face
{
    font-family: Futur2;
    src: url('./Fonts/Neuropol.ttf') format('truetype');
}

@font-face
{
    font-family: Soft1;
    src: url('./Fonts/Roboto.ttf') format('truetype');
}

@font-face
{
    font-family: Soft2;
    src: url('./Fonts/Roboto2.ttf') format('truetype');
}

@font-face
{
    font-family: Soft3;
    src: url('./Fonts/Roboto3.ttf') format('truetype');
}

@font-face
{
    font-family: Soft4;
    src: url('./Fonts/Roboto4.ttf') format('truetype');
}

@font-face
{
    font-family: Round1;
    src: url('./Fonts/Round1.otf') format('opentype');
}

@font-face
{
    font-family: Round2;
    src: url('./Fonts/Round2.ttf') format('truetype');
}

@font-face
{
    font-family: Round3;
    src: url('./Fonts/Round3.ttf') format('truetype');
}

@font-face
{
    font-family: Round4;
    src: url('./Fonts/Round4.otf') format('opentype');
}

@font-face
{
    font-family: Round4B;
    src: url('./Fonts/Round4B.otf') format('opentype');
}

@font-face
{
    font-family: Round5;
    src: url('./Fonts/Round5.ttf') format('truetype');
}


@font-face
{
    font-family: Maj;
    src: url('./Fonts/Sorry.ttf') format('truetype');
}

@font-face
{
    font-family: Joli2;
    src: url('./Fonts/Sunshine.ttf') format('truetype');
}

h1, h2
{
    font-family: 'Joli1', 'Open Sans', sans-serif;
}

h1 
{
    font-size: 80px;
    margin-top: 60px;
    margin-bottom: -30px;
}

h2
{
    padding-top: 80px;
    font-size: 60px;
    margin-bottom: 32px;
}

h3
{
    font-size: 24px;
}

h4
{
    font-size: 15px;
    margin-top: 0px;
}

p
{
    line-height: 24px;
    margin-bottom: 24px;
}

.menu
{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    background: #222;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 0px;
}

.menu_logo {
  display: inline-block;
  float: left;
  height: 50px;
  padding: 1px 7px 7px 7px;
  /*      up right down left */
}

.menu > a, .menu_liens > a
{
    color: #eee;
    font-family : 'Doctor', sans-serif;
    font-size: 38px;
    font-weight: 500;
    text-decoration: none;
}

.menu_liens > a
{
    padding-left: 10px;
}

.menu > a:hover, .menu_liens > a:hover
{
    color : #fafafa;
    text-decoration: none;
}

.menu_liens
{
    float : right;
    width: auto;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    display: block;
    padding-bottom: 0;
    margin-right: 7px;
    overflow: visible;
}

.section
{
    border-top: 10px solid rgba(0,0,0,0.1);
}

.bouton
{
    cursor : pointer;
    background: #00a2ea;
    border: none;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 24px;
    padding: 8px 0px;
    position: relative;
    text-align: center;
    width: 180px;
    box-shadow: 0 6px rgb(1, 133, 184);
    border-radius: 6px;
    text-decoration: none;
}

.bouton:hover
{
    background: rgb(31, 163, 214);
    text-decoration: none;
    color: #fff;
}

.bouton:active
{
    box-shadow: 0 2px rgb(1, 133, 184);
    top: 4px;
    text-decoration: none;
    color: #fff;
}

.bouton-centre
{
    margin-left: auto;
    margin-right: auto;
}

footer
{
    background: #222;
    color : #eee;
    padding: 20px;
    z-index: 1030;
}

footer > p
{
    padding-left: 20px;
    font-family: Joli2;
    font-size: 20px;
}
.centrer
{
    text-align : center;
}

.gauche
{
    text-align : left;
}

.droite
{
    text-align : right;
}

.container
{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.erreur
{
    margin: 0;
    list-style-type: none;
    border-radius: 5px;
    padding: 15px;
    color : #a9302a;
}

.element
{
    margin: 0% 6% 0% 6%;
    background-color: #dde5f1;;
    color: #333;
    margin-bottom: 32px;
    padding: 2%;
    border-radius: 10px;
    font-weight: 600;
}